<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Admin Panel</title>
</head>

<body>

  <ul>
    <li><a href="/" class = "leftnav">Home</a></li>
    <li><a href="/new" class = "leftnav">New Game</a></li>
    <li><a href="/games" class = "leftnav">My Games</a></li>
    <li><a href="/login" class = "rightnav">Login/Register</a></li>
  </ul>

  <div class = "main_container">
    <h1>Admin Panel</h1>
    <hr>
    <ul id="users_list" style="background-color:white"></ul>
    <button class="logout"> <a href="/logout">Log Out</a></button>
    
  </div>

  <div class="log"></div>

  <script src="./scripts/getDecodedToken.js"></script>
  <script src="./scripts/getUsers.js">
    
  </script>
</body>

</html>