<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">

  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
  <script src="//cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

  <title>Wargames</title>
</head>
<body>
  
  <ul>
    <li><a href="/" class = "leftnav">Home</a></li>
    <li><a href="/new" class = "leftnav">New Game</a></li>
    <li><a href="/games" class = "leftnav">My Games</a></li>
    <li><a href="/login" class = "rightnav">Login/Register</a></li>
  </ul>

  <div class = "main_container">
    
    <div id="chartdiv"></div>
    

  </div>

  <div class="log"></div>

  <script src="./scripts/getDecodedToken.js"></script>
  <script type='text/javascript' src='./scripts/globeFunctions.js'></script>
</body>
</html>