<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Wargames</title>
</head>
<body>

  <ul>
    <li><a href="/" class = "leftnav">Home</a></li>
    <li><a href="/new" class = "leftnav">New Game</a></li>
    <li><a href="/games" class = "leftnav">My Games</a></li>
    <li><a href="/login" class = "rightnav">Login/Register</a></li>
  </ul>

  <div class = "main_container">
    
    <h1>Register Page</h1>
    <hr>

    <div class="loginFormContainer">
      <form >
        <label for="username">Username</label><br>
        <input type="text" id="username" required/><br><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" required><br><br>
        <input type="submit" value="register" style="cursor: pointer;"><br>
      </form>
      <br>
      <a href="/login">Already registered? -Login</a>
    </div>

  </div>

  <div class="log"></div>
  
  <script src="./scripts/getDecodedToken.js"></script>
  <script src="/scripts/register.js"></script>
  
</body>
</html>