<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Wargames</title>
</head>
<body>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/new">New Game</a></li>
    <li><a href="/games">My Games</a></li>
    <li><a href="/register">Login/Register</a></li>
  </ul>
  
  <div class = "main_container">
    <h1>Users</h1>
    <hr>
    <ul id="users_list" style="background-color:white"></ul>
    <button class="logout"> <a href="/logout">Log Out</a></button>
    
  </div>

  <div class="log"></div>
  
  <script>
    const ul = document.getElementById('users_list')
    const display = document.querySelector('.log')

    const getUsers = async() => {
      const res = await fetch('/api/auth/getUsers')
      const data = await res.json()
      data.user.map((mappedUser)=> {
        if (mappedUser.username !== 'admin') {
          let li = `<li> <b>Username</b> => ${mappedUser.username} <br> <b>Role</b> => ${mappedUser.role} </li>`
          ul.innerHTML += li
        } else {
          return null
        }
      })
    }
    getUsers()
  </script>
</body>
</html>